
@font-face {
  font-family: 'SFUIText-Medium';
  src: url('../public/fonts/SFUIText-Medium.ttf');
  font-weight: 400;
  font-style: normal;
  }

  @font-face {
    font-family: 'SFUIText';
    src: url('../public/fonts/SFUIText-Regular.ttf');
    font-style: normal;
  }

  @font-face {
    font-family: 'SFUIText-Light';
    src: url('../public/fonts/SFUIText-Light.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'SFUIText-Bold';
    src: url('../public/fonts/SFUIText-Semibold.ttf');
    font-style: normal;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: SFUIText, sans-serif !important;
  background: #F3F3F3 !important;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: SFUIText, sans-serif;
}
 h1,h2,h3,p {
   margin: 0px;
   font-weight: normal;
 }
* {
  box-sizing: border-box;
}
